
body{
  background-image: url("../images/landing-page/title-background.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-flow: column;
}

header{
  display: relative;
  display: block;
  padding: 1%;
  text-align: center;
}

#title{
  width: 50%;
  height: auto;
}

#start-button{
  position: absolute;
  top: 50%;
}

main{
  flex-grow: 1;
}

#options-box{
  display: flex;
  flex-flow: column;
  align-items: center;
}

.option{
  width: 60%;
  height: auto;
  margin-bottom: 2%;
}

h1{
  margin-bottom: 2%;
}

.selections-flexbox{
  display: flex;
  justify-content: space-around;
}

button{
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 1%;
  font-family: "ZCOOL QingKe HuangYou", Helvetica, Arial;
  transition: background-color 100ms, box-shadow 100ms;
}

button:focus{
  outline: 0;
}

.button{
  width: 25%;
  height: auto;
  box-shadow: 0px 0px 15px orange;
  background-color: orange;
  color: white;
  font-size: 105%;
}

.button:hover{
  background-color: rgb(242, 130, 44);
  box-shadow: 0px 0px 15px rgb(242, 130, 44);
}

.snake-color{
  width: 15%;
  height: 15%;
}

#colors button
{
  padding: 2%;
}

label{
  display: block;
  margin-bottom: 5px;
}

#blue{
  background-color: blue;
  box-shadow: 0px 0px 15px blue;
}

#blue:hover{
  background-color: darkblue;
  box-shadow: 0px 0px 15px darkblue;
}

#lightblue{
  background-color: lightblue;
  box-shadow: 0px 0px 15px lightblue;
}

#lightblue:hover{
  background-color: rgb(107, 134, 142);
  box-shadow: 0px 0px 15px rgb(107, 134, 142);
}

#green{
  background-color: green;
  box-shadow: 0px 0px 15px green;
}

#green:hover{
  background-color: rgb(0, 61, 0);
  box-shadow: 0px 0px 15px rgb(0, 61, 0);
}

#red{
  background-color: red;
  box-shadow: 0px 0px 15px red;
}

#red:hover{
  background-color: rgb(81, 0, 0);
  box-shadow: 0px 0px 15px rgb(81, 0, 0);
}

#yellow{
  background-color: yellow;
  box-shadow: 0px 0px 15px yellow;
}

#yellow:hover{
  background-color: rgb(84, 84, 0);
  box-shadow: 0px 0px 15px rgb(84, 84, 0);
}

#orange{
  background-color: orange;
  box-shadow: 0px 0px 15px orange;
}

#orange:hover{
  background-color: rgb(122, 78, 0);
  box-shadow: 0px 0px 15px rgb(122, 78, 0);
}

#purple{
  background-color: purple;
  box-shadow: 0px 0px 15px purple;
}

#purple:hover{
  background-color: rgb(53, 0, 53);
  box-shadow: 0px 0px 15px rgb(53, 0, 53);
}

#neon{
  background-color: rgb(148, 255, 0);
  box-shadow: 0px 0px 15px rgb(148, 255, 0);
}

#neon:hover{
  background-color: rgb(56, 96, 0);
  box-shadow: 0px 0px 15px rgb(56, 96, 0);
}

#white{
  background-color: white;
  box-shadow: 0px 0px 15px white;
}

#white:hover{
  background-color: grey;
  box-shadow: 0px 0px 15px grey;
}

#black{
  background-color: black;
  box-shadow: 0px 0px 15px black;
}

#black:hover{
  box-shadow: 0px 0px 15px white;
}
